<!doctype html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="index.js"></script>
</head>

<body>

<div class="container" ng-controller="indexController">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" ng-show="!isUserLoggedIn()">
                    <form class="align-middle" ng-submit="tryToAuth()">
                        <div class="input-group input-group-sm" style="padding: 4px;">
                            <input id="navLoginField" class="form-control" ng-model="user.username" type="text"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                            <input id="navPasswordField" class="form-control" ng-model="user.password" type="password"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                            <button id="navLoginSubmit" class="btn btn-outline-warning btn-sm"
                                    style="margin-left: 10px;" type="submit">Login
                            </button>
                        </div>
                    </form>
                </li>
                <li class="nav-item" ng-show="isUserLoggedIn()" style="padding: 4px;">
                    <button class="btn btn-outline-secondary btn-sm" ng-click="tryToLogout()">Logout</button>
                </li>
            </ul>
        </div>
    </nav>

    <form novalidate ng-submit="loadProducts()">
        <input class="form-control" type="number" placeholder="min price" ng-model=filter.min_price>
        <input class="form-control" type="number" placeholder="max price" ng-model=filter.max_price>
        <input class="form-control" type="text" placeholder="title" ng-model=filter.title_part>
        <p></p>
        <button type="submit" class="btn btn-light">Set filter</button>
    </form>

    <p></p>
    <h3>Product list</h3>
    <table class="table table-hover">
        <tr>
            <td>ID</td>
            <td>Product title</td>
            <td>Price</td>
            <td>Action</td>
        </tr>
        <tbody>
        <tr ng-repeat="p in ProductsList">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button class="btn btn-primary" ng-click="addToCart(p)">Add to Cart</button>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <button class="btn btn-light" ng-repeat="i in totalPages" ng-click="loadProducts(i)">{{i}}</button>

    <p></p>
    <h3>Cart</h3>
    <table class="table table-hover">
        <tr>
            <td>ID</td>
            <td>Product title</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Action</td>
        </tr>
        <tbody>
        <tr ng-repeat="pos in CartList">
            <td>{{pos.idInCart}}</td>
            <td>{{pos.productDto.title}}</td>
            <td>
                <button type="button" class="btn btn-primary" ng-click="changeQuantityInCart(pos.idInCart, -1)"> - </button>
                {{pos.quantity}}
                <button type="button" class="btn btn-primary" ng-click="changeQuantityInCart(pos.idInCart, 1)"> + </button>
            </td>
            <td>{{pos.productDto.price}}</td>
            <td>
                <button class="btn btn-danger" ng-click="deleteProductFromCart(pos.idInCart)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>

    <button class="btn btn-danger" ng-click="showCurrentUserInfo()">Info</button>

</div>
</body>
</html>